body {
	font-family: Arial, sans-serif;
	font-size: 25px;
	color: #FFB6C1;
	margin: 0;
	padding: 40px;
	background-color: #4B0082;
}


h1{
	background-color: #d0bdf4;
	color: white;
	text-align: center;
	padding: 15px;
}

h2{
	background-color: #d0bdf4;
	color: white;
	text-align: center;
	padding: 10px;
}

section p {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	
}

footer {
	color: white;
	text-align: center;
	padding: 60px;
}

img{
	float: right;
	margin: 0 10px 15px ;
	border-radius: 50%;
	width: 200px;
	height: 205px;
}

